body{
    background:#f0f0f0;
}
.ui.main {
    margin: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h2{
   text-align:center;
   font-size:2.5rem;
}
.ui.centered.image{
    padding-bottom:10px;
    max-width:500px;
    max-height:350px;
}
hr{
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.content{
    color: #2577fa;
    padding-left:10px;
}
.back-link{
    padding: 10px;
    font-size:1rem;
}